/.idea
/.ipynb_checkpoints
/Insertion_Sort.py
/Kompendium.tex
/Merge_Sort.py
/Nim.py
/Preamble.aux
/Preamble.tex
/Sort_w_stacks.py
/SortingAlgorithms.py
/notebook.tex
/strawberry-perl-5.32.1.1-64bit.msi